/* Insert your styles here */


::-webkit-scrollbar{
    display: none;
}

@font-face{
    font-family: 'boston_traffic';
    src: url('../../media/boston_traffic.ttf');
}
@font-face{
    font-family: 'google_handwriting';
    src: url('../../media/LaBelleAurore-Regular.ttf');
}
@font-face{
    font-family: 'google_cursive';
    src: url('../../media/HomemadeApple-Regular.ttf');
}
html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../../media/background.png");
    background-size: cover;
    background-position: center;

}

.headergrid {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../media/sunset.png");
    background-position: center;
    position: relative;
    size: cover;
    display: grid;
}

.headergrid div{
    
    align-items: center;
    display: flex;
    text-shadow:5px 5px 9px rgba(0, 0, 0, 0.521);
    justify-content: center;
    font-family: 'boston_traffic';
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 8vw;
}

#displaypic{
    
    border-style: solid;
    border-width: .5vw;
    
    box-shadow: 10px 10px 8px rgb(27, 27, 27); 
}

.d img{
    background-position: bottom;
    size: cover;
    width: 100%;
    text-align: center;
    background-color:transparent;
}

nav{
    z-index: 2;
    display: grid;
    top: 0;
    position: sticky;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.685);
  
}

#buffer{
    width: 100%;
    height: 4vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0));
}

.tab{
    font-family: 'boston_traffic';
    font-size: 5vw;
    text-shadow: -.05vw -.05vw 0px rgb(112, 82, 0), .05vw .05vw 0px rgb(255, 221, 126);
    width: auto;
    border: none;
    justify-content: center;
    align-items: center;
    padding-top: 2.2vw;
    padding-bottom: 1.5vw;
    background-color: rgba(0, 0, 0, 0.685);
    outline: none;
    color: rgb(175, 147, 71);
    -webkit-text-stroke-color: rgb(63, 46, 0);
    -webkit-text-stroke-width: 1px;
    
    
}
.tab:hover{
    text-shadow: -1.5px -1.5px 0px rgb(255, 242, 207), 1.5px 1.5px 0px rgb(99, 79, 0);
    color: rgb(221, 178, 58);
}
.tab.active{
    background-image: radial-gradient(rgba(121, 121, 121, 0.363) 20%, rgba(255, 255, 255, 0) 50%);
    color: rgb(224, 196, 116);
    font-size: 6vw;
}


.correspondence{
    
    opacity: 0.8;
    position: relative;
    width: 100%;
    
    height: 10vw;
    transition: height 0.5s ;
    font-family: 'google_handwriting';
    font-size: 4vw;
    font-weight: bold;
    
    
}

.Postcard div{
    border-style: outset;
    border-color: rgb(34, 25, 0);
    background-image: url("../../media/postcard.jpg");
}
.Letter div{
    border-style: outset;
    border-color: rgb(34, 25, 0);
    background-image: url("../../media/paper_texture1.png");
}

.Letter article{
    background-image: url("../../media/paper_texture1.png");
    padding: 10%;
}
.Postcard article{
    background-image: url("../../media/paper_texture1.png");
    padding: 10%;
}

.cardfront, .cardback{

    box-shadow: inset 0px -20px 25px rgb(0, 0, 0);
    
    background-size: 100%;
    transition: height 0.5s ;
    size: cover;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    height: inherit;
    width: 100%;
   
  
  
}

.cardfront{
transform: rotateY(0deg);
transition: transform 1s;

}
.cardback{
    transform: rotateY(180deg); 
    transition: transform 1s;
    
    
}
.active:hover .cardfront{
    transform: rotateY(180deg);
   
}
.active:hover .cardback{
    transform: rotateY(360deg);
    overflow: scroll;
    
}


.correspondence:hover{
    height: 40vw;
    opacity: 1.0;
}




.about{
    margin-top: 5%;
    display: block;
    width: 100%;
}

main{
    min-height: 1200px;
   
    height: fit-content;
    justify-content: center;
}

.about p{
    font-family: 'google_cursive';
    color: rgb(224, 196, 116);
    word-spacing: .5vw;
    font-size: 2vw;
    margin: 5%;
}
h1{
    text-align: center;
    margin-top: -2%;
    margin-right: 1%;
    font-size: 4vw;
    text-shadow: 5px 5px 0px black ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}

#articleWrapper{
    margin: 4%;
    
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;

}

section{
    height: fit-content;
    display: none;
    color: rgb(230, 176, 0);
}

article{
    
    height: fit-content;
    background-size: cover;
    color: black;
}

#letterImage{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}
#Ypres{
    width: 50%;
    box-shadow: 10px 10px 8px rgb(27, 27, 27); 
    transform: rotate(-3deg);
}
.anzacPin{
    width: 100%;
    text-align: left;
}
.anzacPin img{
    margin-left: 10%;
    width: 40%;
}
.href{ 
    margin-right: 5%;
    text-align: right;
    font-size: 4vw;
}
footer{
    color: rgb(99, 99, 99);

}



@media only screen and (max-width: 10000px){
    .a{
        
        margin-top: 100px;
        grid-column: 5;
        grid-row: 1 ;
        
    }
    .b{
       
        margin-top: 100px;
        grid-column: 7 ;
        grid-row: 1 ;
    }
    
    .c{
        margin-top: 100px;
        grid-column: 3 ;
        grid-row: 1 ;
        
    }

    .c img {
        width: 10vw;
        
       
    }

    .d{
        grid-column: 1 / span 9;
        grid-row: 2 
    }
   

    #tab1915{
        grid-column: 2;
    }
    #tab1916{
        grid-column: 3;
    }
    #tab1917{
        grid-column: 4;
    }
    #tab1918{
        grid-column: 5;
    }
    #tababout{
        grid-column: 6;
    }
    
    }
@media only screen and (max-width: 1500px){
.a{
    margin-top: 50px;
    grid-column: 5 / span 3;
    grid-row: 1 ;
    
    
}
.b{
    margin-top: 0px;
    grid-column: 5 / span 3;
    grid-row: 2;
}

.c{
    margin-top: 50px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}
.c img {
    width: 14vw;
}


.d{
    grid-column: 1 / span 8;
    grid-row: 3 ;
}

}
@media only screen and (max-width: 600px){
    .a{
        margin-top: 17%;
        grid-column: 1 ;
        grid-row: 1 
    }
    .b{
        grid-column: 1 ;
        grid-row: 2;
        
    }
    
    .c{
        margin-top: 9vw;
        grid-column: 1 ;
        grid-row: 3 
        
    }

    .c img {
        margin-bottom: 14vw;
        width: 16vw;
    }

    .d{
        
        grid-column: 1 ;
        grid-row: 4 
    }
    
    .button{
        font-size: 25px;
    }
    
    #tab1915{
        grid-column: 1;
        grid-row: 2;
    }
    #tab1916{
        grid-column: 2;
        grid-row: 2;
    }
    #tab1917{
        grid-column: 2;
    }
    #tab1918{
        grid-column: 3;
        grid-row: 2;
    }
    #tababout{
        grid-column: 3;
    }
    
    p{
        font-size: 3vw;;
        
    }
    
    }


    


